# Ignora a pasta de build
/target/

# Arquivos de build temporários
**/*.rs.bk
**/*.d

# Arquivos gerados por compilação (binários)
**/*.exe
**/*.dll
**/*.so
**/*.dylib
**/*.rlib
**/*.rmeta
**/*.o

# Binários de debug
/debug/
/release/
/*.lock
*.log

# Arquivos de projeto/editor
**/*.swp
**/*.swo
*.DS_Store
*.idea/
*.vscode/
*.iml

# Ignorar binários criados diretamente na pasta do projeto
*/main
*/guessing_game
*/even_odd
